$PRIMARY-COLOR : #10ac84;
$BACKGROUND-COLOR : #222f3e;
$ELEMENT-COLOR : #1e222e;
$GRAY-LIGHT-COLOR :#c8d6e5;
$GRAY-DARK-COLOR : #8395a7;
$WHITE-COLOR : #fff;
$RED-COLOR: #b71540;


@mixin PADDING-SECTIONS {
    padding-right: $PADDING-SECTIONS;
    padding-left: $PADDING-SECTIONS;
    @media only screen and (max-width: $TABLETS) {
        padding-right: $PADDING-SECTIONS / 2;
        padding-left: $PADDING-SECTIONS / 2;
    }
    @media only screen and (max-width: $S-TABLETS) {
        padding-right: $PADDING-SECTIONS / 4;
        padding-left: $PADDING-SECTIONS / 4;
    }
    @media only screen and (max-width: $M-PHONE) {
        padding-right: $PADDING-SECTIONS / 4;
        padding-left: $PADDING-SECTIONS / 4;
    }
    @media only screen and (max-width: $S-PHONE) {
        padding-right: $PADDING-SECTIONS / 6;
        padding-left: $PADDING-SECTIONS/ 6;
    }
}
$PADDING-SECTIONS : 6rem;
//BREAK-POINTS
$TABLETS : 1024px;
$S-TABLETS : 895px;
$M-PHONE: 585px;
$S-PHONE : 330px;